@charset "utf-8";

.head .caidan{
	display: none;
}

.kuang .t1{
	border:1px solid #969696;
	width: 241px;
	height: 24px;
	background: url(../images/f4.png) no-repeat 221px center;
}
.head .logo img{
	width: 160px;
	height: 33px;
}
.goumai li a{
	color:#000;
	padding-left: 0;
}

.goumai li{
	float: left;
	background: #fff;
	margin-right: 32px;
	background: url('../images/sanjiao.png') no-repeat 37px center;
}
.content1 .img1 img{
	height: 220px;
}

.content2 ul li{
	width: 33%;
	height: 157px;
	float: left;
}
.content2 li img{
	width: 100%;
	height: 100%;
}
.content2 li p{
	font-size: 16px;
}
.content2 li:nth-child(2){
	margin:0 0.5%;
}

.content3,.content4,.content5,.content6,.content7,.footer{
	display: none;
}
.content8 h3{
	font-size: 32px;
	line-height: 1;
	margin-bottom: 22px;
	font-weight: normal;
}
.content8 .u1 li{
	float: left;
	margin-right: 18px;
	color:#159CD5;
}
.content8 .u1 li a{
	font-size: 14px;
	color: #1570A6;
}
.content8{
	margin-top: 80px;
}
.content8 .u2 li{
	float: left;
	margin-right: 10px;
	height: 30px;
	
}
.content8 .u2 li a{
	color:#000;
	line-height: 30px;
	padding:8px 6px;
}
.content8 .u2 li:hover a{
	color:#fff;
}
.content8 .u2 li:hover{
	background: #1570A6;
}
.content8 .u2 {
	height: 30px;
	line-height: 30px;
	margin-bottom: 16px;
}
.content8 .u1{
	margin-bottom: 22px;
}


.content9 li{
	margin-bottom: 40px;
}

.content9 li img{
	margin-right: 26px;
}

.content9 li a{
	font-size: 14px;
	color: #1570A6;
}


.content10 h3{
	font-size: 26px;
	color:#1A1A1A;
	margin-bottom: 32px;
	font-weight: normal;
}
.content10 ul{
	margin-bottom: 54px;
}
.content10 ul li a{
	font-size: 14px;
	line-height: 30px;
	color: #1570A6;
}

.content11{
	width: 100%;
	background: #1570A6;
	padding-top: 16px;
}
.content12{
	padding-top: 28px;
	background: #115E8B;
	padding-left: 30px;
}
.content12 img{
	float: left;
	margin-right: 24px;
}
.content12 h4,.content12 p{
	color:#fff;
}
.content12 h4{
	font-size: 26px;
	line-height: 34px;
	font-weight: normal;
}
.content12 p{
	line-height: 28px;
}

.content11 h5,.content11 p{
	color:#fff;
}
.content11 h5{
	font-size: 26px;
	line-height: 52px;
}
.content11 p{
	padding-bottom: 20px;
}

.content13{
	background: #EEEEEE;
	padding-top: 20px;
}
.content13 h5{
	font-size: 16px;
	line-height: 34px;
	font-weight: normal;
	padding-bottom: 10px;
}

.content14 li{
	padding-left: 36px;
	line-height: 32px;
	font-size: 12px;
}
.content14 li a{
	color: #000;
}
.content14 .li1{background: url(../images/f16.png) no-repeat;}
.content14 .li2{background: url(../images/tu2.png) no-repeat;}
.content14 .li3{background: url(../images/tu3.png) no-repeat;}
.content14 .li4{background: url(../images/tu4.png) no-repeat;}
.content14 .li5{background: url(../images/tu5.png) no-repeat;}
.content14 .li6{background: url(../images/tu6.png) no-repeat;}
.content14 .li7{background: url(../images/tu7.png) no-repeat;}
.content14 .li8{background: url(../images/tu8.png) no-repeat;}
.content14{
	float: left;
	width: 50%;
}
.content15 li a{
	font-size: 14px;
	color:#1570A6;
	line-height: 24px;
}
.content15{
	float: left;
	width: 50%;
}

.content16{
	font-size: 14px;
	color:#1570A6;
	line-height: 24px;
	margin-bottom: 22px;
}
.content16 h5{
	font-size: 16px;
	color: #000;
}
.content16 ul li a{
	color: #1570A6;
	font-size: 14px;
}


.content13 p{
	font-size: 12px;
	color:#8C70AB;
	background: url(../images/f13.png) no-repeat left top;
	padding-left: 35px;
	padding-bottom: 38px;
}

.footer2{
	background: #EEEEEE;
}

.footer2 h4{
	font-size: 16px;
	color:#6A6A6A;
}
.footer2 li{
	font-size: 14px;
	float: left;
	margin-right: 14px;
}
.footer2 .l1,.l2{
	color:#1571A2;
}
.footer2 ul{
	padding-bottom: 30px;
}


.content8,.content9,.content10,.content11,.content12,.content13,.content14,.content15,.content16,.footer2{
	display: block;
}
.content17,.content18,.content19,.content20,.content21,.content22,.content23,.content24,.content25,.content26,.content27{
	display: none;
}
.gWidth{
	padding-left: 8px;
	padding-right: 4px;
}